body {
  height: 100vh;
  width: 100vw;
}

.bgImage {
  background-image: url("/image1/istockphoto-1294521676-170667a.jpg");
  height: 40vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.box {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box {
  p {
    width: 50%;
  }
}

.container {
  margin: 50px auto;
}
.inBox {
  p {
    margin-bottom: 30px;
  }
}
.inBox {
  h6:nth-child(2) {
    margin-bottom: 40px;
  }
}

.img {
  background-image: url("/image1/istockphoto-1294521676-170667a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
